#title{

    background-color: blueviolet;
    color: #fff;
}
.container-fluid{

    padding: 3% 15%;
}
h1{

    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}
.nav-bar{
    padding: 4.5rem;
}
.nav-brand{

    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{

    padding: 0 18px;
}
.roatate{
      width: 70%;
    transform: rotate(45deg);
}
#features{
    padding: 7% 15%;

}
.rot
{
width: 50%;


}
#testimonials
{
   
    text-align: center;
    background-color: aqua;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item
{
 padding: 7% 15%;
}
#press{
    background-color: aqua;
    text-align: center;
    padding: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
#cta
{

    background-color: aquamarine;
    color: #fff;
    padding: 10% 10%;
    line-height: 1.5rem;
 

}
 .cta-he
{
font-family: "Motserrat-Black";
font-size: 3.3rem;

} 
@media (max-width:1028px)
{
.roatate{

    position: static;
    transform: rotate(0);
}

}
